body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-image: url("pictures/table.jpg");
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #45525b;
    margin-top: 250px;
    box-shadow: 5px 10px 30px;
}

#screen{
    background-color: #899a77;
    height: 120px;
    padding: 10px;
    font-size: 20px;
}

#equation{

}

#result {
    text-align: right;
    margin-top: 75px;
}

button{
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-width: 0;
    font-weight: bold;
    font-size: 20px;
}

.casioColor{
    color: black;
    background-color: #d17456;
}